*{
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, black, rgb(20, 220, 87));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fundo a{
    color: white;
    font-size: 16px;
}

.calculadora {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;  /* 50 */
    height: 50px;  /* 50 */
    font-size: 25px;  /* 25 */
    cursor: pointer;
    background-color: darkred;
    border: none;
    color: black;
    margin: 3;
    border-radius: 50%;
}

.botao:hover {
    background-color: white;
}

.apagar {
    width: 106px;
}

.zero {
    width: 106px;
}

.rem {
    height: 106px;
}

.pixel {
    height: 106px;
}

.base {
    text-align: center;
}

#resultado {
    width: 95%;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color:black;
    text-align: right;
    padding: 5px;
}